@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
    font-family: "Open Sans", sans-serif;
}

#app {
    position: relative;
}

#main {
    margin-left: 260px;
    background-color: #F7FAFF;
    min-height: 100vh;
    transition: margin-left .6s ease-out;

    .main-content {
        padding: 2rem 1.5rem;

        .page-title h3 {
            font-size: 2rem;
        }

        .text-subtitle {
            font-size: .9rem;
        }
    }
}

.breadcrumb-header {
    .breadcrumb {
        justify-content: flex-end;
    }
}

.alert.alert-dismissible .close:focus, .custom-switch .custom-control-label:focus, .dropdown .dropdown-toggle:focus, .dropleft .dropdown-toggle:focus, .dropright .dropdown-toggle:focus, .dropup .dropdown-toggle:focus, .list-group button.list-group-item:focus, .modal .modal-content .modal-header .close:active, .modal .modal-content .modal-header .close:focus, .modal .modal-content .modal-header .close:hover, .navbar-components-wrapper .navbar .navbar-container.navbar-dark .navbar-toggler:focus, .navbar-components-wrapper .navbar .navbar-container.navbar-light .navbar-toggler:focus, .toast .toast-header .close:active, .toast .toast-header .close:focus, a:focus {
    outline: 0;
}

.note-group-select-from-files {
    display: none;
}

.photos {
    img {
        cursor: pointer;
    }

    label {
        background-color: #fff;
        width: 134px;
        padding: 11px;
        position: absolute;
        top: 0;
        text-align: center;
        cursor: pointer;

        span {
            font-size: 15px;
        }
    }
}

section {
    .section-title {
        &:after {
            width: 70px;
            height: 2px;
            content: '';
            margin: .6rem 0 1rem;
            background-color: map-get($theme-colors, 'primary');
            display: block;
        }
    }
}

a {
    text-decoration: none;
    outline: 0;
}

button {
    outline: 0;
}

svg.feather, i {
    font-size: 14px;
    height: 1rem
}

pre {
    background: #eee;
    padding: 22px 12px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(111, 111, 111, 0.08);
}

footer {
    padding: 1rem 1.5rem;
}

@media screen and (max-width: 767px) {
    #main {
        margin-left: 0;
    }
    .breadcrumb-header {
        .breadcrumb {
            justify-content: flex-start;
            padding: 0;
            font-size: .8rem;
        }
    }
}

.swal2-styled.swal2-confirm {
    background-color: $primary !important;
}

#displayLoading {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 50;
    opacity: 0.8;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-cards {
    padding: 20px 20px 40px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
}

#cvv {
    margin-left: -65px;
}

.detais-order-cancel {
    font-size: 11px;
}

#myBtn{
    position: fixed;
    z-index: 99;
    bottom: 30px;
    right: 20px;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #34af23;
    cursor: pointer;
}
