.plans {
    .price-value {
        font-size: 50px;
        font-weight: 700;
        color: $primary;
    }

    .price-currency {
        margin-right: 4px;
        font-size: 19px;
        font-weight: 700;
        color: #4a4a4a;
    }

    button{
        font-size: 17px;
        box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
        margin: auto;
        display: flex;
        margin-bottom: 40px;
        margin-top: 25px;
    }
}
